input:where([type=date], [type=email], [type=number], [type=password], [type=search], [type=text], [type=url]),
select,
textarea {
    background-color: var(--input-background);
    border: var(--input-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--text);
    font: inherit;
    height: var(--button-height);
    max-width: 100%;
    padding: 0 1em;
    vertical-align: baseline;
    width: 13em
}

input:where([type=number]) {
    text-align: right
}

input:hover:where([type=date], [type=email], [type=number], [type=password], [type=search], [type=text], [type=url]),
select:hover,
textarea:hover {
    background-color: var(--input-hover)
}

input:focus:where([type=date], [type=email], [type=number], [type=password], [type=search], [type=text], [type=url]),
select:focus,
textarea:focus {
    background-color: var(--input-focus);
    border-color: var(--text);
    outline: 1px solid var(--text)
}

input:where([type=date]) {
    width: 10em
}

input:where([type=number]) {
    -webkit-appearance: textfield;
    appearance: textfield;
    padding: 0 .5em;
    width: 3.5em
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="hsl(205, 5%, 10%)" stroke-width="3"><polyline points="6 9 12 15 18 9" /></svg>');
    background-position: right .2em center;
    background-repeat: no-repeat;
    min-width: 0;
    overflow: hidden;
    padding-right: calc(.4em + 16px);
    width: auto
}

html[data-color-scheme=dark] select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="hsl(205, 5%, 95%)" stroke-width="3"><polyline points="6 9 12 15 18 9" /></svg>')
}

fieldset {
    border: none;
    margin: 0;
    padding: 0
}

textarea {
    height: auto;
    padding: .5em 1em;
    resize: vertical;
    width: 20em
}

span.svelte-1o2prm5 {
    display: inline-block;
    height: 1.3em;
    flex-shrink: 0;
    position: relative;
    vertical-align: middle;
    width: 1.3em
}

span.svelte-1o2prm5>:where(.svelte-1o2prm5) {
    inset: 0;
    position: absolute
}

input.svelte-1o2prm5 {
    margin: 0;
    opacity: 0;
    z-index: 1
}

input.svelte-1o2prm5:enabled {
    cursor: pointer
}

svg.svelte-1o2prm5 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3
}

input.svelte-1o2prm5:focus-visible+svg:where(.svelte-1o2prm5) {
    outline: 2px solid var(--text);
    outline-offset: 1px
}

rect.svelte-1o2prm5 {
    fill: var(--widget-background);
    stroke: var(--input-border-color);
    stroke-width: 1px;
    transition: fill .15s, stroke .15s;
    vector-effect: non-scaling-stroke
}

input.svelte-1o2prm5:checked+svg:where(.svelte-1o2prm5) rect:where(.svelte-1o2prm5),
input.svelte-1o2prm5:indeterminate+svg:where(.svelte-1o2prm5) rect:where(.svelte-1o2prm5) {
    fill: var(--active);
    stroke: var(--active)
}

input.svelte-1o2prm5:disabled+svg:where(.svelte-1o2prm5) rect:where(.svelte-1o2prm5) {
    fill: var(--input-border-color);
    stroke: var(--input-border-color)
}

polyline.svelte-1o2prm5 {
    fill: none;
    stroke: var(--text-reversed);
    transition: stroke-dashoffset .05s .1s
}

.check.svelte-1o2prm5 {
    stroke-dasharray: 24;
    stroke-dashoffset: 24
}

input.svelte-1o2prm5:checked+svg:where(.svelte-1o2prm5) .check:where(.svelte-1o2prm5) {
    stroke-dashoffset: 0
}

.dash.svelte-1o2prm5 {
    stroke-dasharray: 14;
    stroke-dashoffset: 14
}

input.svelte-1o2prm5:indeterminate+svg:where(.svelte-1o2prm5) .dash:where(.svelte-1o2prm5) {
    stroke-dashoffset: 0
}

input.svelte-gvmah9 {
    padding: 0 .5em;
    text-align: right;
    width: 3.5em
}

input.svelte-gvmah9:not(:focus):invalid {
    background: var(--warning-background);
    border-color: currentColor;
    color: var(--warning-text)
}

input.svelte-1usyn2z {
    text-align: right
}

div.svelte-695ua8 {
    position: relative
}

button.svelte-695ua8 {
    bottom: 0;
    color: inherit;
    display: flex;
    align-items: center;
    padding: .2em .5em;
    position: absolute;
    right: 0;
    top: 0
}

input.svelte-695ua8 {
    padding-right: calc(1em + var(--icon-height))
}

input.svelte-o9d4nh {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--widget-background);
    border: 2px solid var(--input-border-color);
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    height: 1.2em;
    margin: 0;
    outline-offset: 4px;
    position: relative;
    vertical-align: text-bottom;
    width: 1.2em
}

input.svelte-o9d4nh:checked {
    border-color: var(--active)
}

input.svelte-o9d4nh:before {
    background: inherit;
    border-radius: 100%;
    content: "";
    position: absolute;
    inset: 2px;
    transform: scale(0);
    transform-origin: center;
    transition: .1s ease-out
}

input.svelte-o9d4nh:checked:before {
    background: var(--active);
    transform: scale(1)
}

ul.svelte-dxi4m {
    background: var(--widget-background);
    border: var(--input-border);
    border-radius: var(--border-radius);
    display: inline-flex;
    height: var(--button-height);
    margin: 0;
    padding: 0;
    white-space: nowrap
}

input.svelte-dxi4m {
    inset: 0;
    margin: 0;
    opacity: 0;
    position: absolute
}

label.svelte-dxi4m {
    position: relative
}

li.svelte-dxi4m {
    display: flex;
    flex-shrink: 1;
    padding: 2px
}

span.svelte-dxi4m {
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 1em
}

input.svelte-dxi4m:checked+span:where(.svelte-dxi4m) {
    background: var(--active);
    color: var(--text-reversed)
}

input.svelte-dxi4m:focus-visible+span:where(.svelte-dxi4m) {
    outline: 2px solid var(--text)
}

button.svelte-18x0ifl {
    align-items: center;
    background: none;
    border: none;
    border-radius: 100%;
    color: inherit;
    display: flex;
    height: var(--button-height);
    justify-content: center;
    width: var(--button-height)
}

.row.svelte-18x0ifl {
    padding: 1em 0
}

.row+.row.svelte-18x0ifl {
    border-top: var(--border)
}

.help.svelte-18x0ifl {
    display: flow-root;
    margin-top: .5em
}

.help.svelte-18x0ifl p:last-child {
    margin-bottom: 0
}

.label.svelte-18x0ifl {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-weight: var(--semi-bold);
    gap: .3em
}

.input.svelte-18x0ifl {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5em 1em
}

.input.svelte-18x0ifl>:where(.svelte-18x0ifl) {
    max-width: 100%
}